 <h1> Root App HTML Content</h1>

<!--<app-login [varpc] = "title"></app-login>


<p>{{varfchildtoparent}}</p>

<app-login [varpc] = "title" (messageEvent) = "receiveMessage($event)"></app-login>

<!--<p>{{varOfromCtoP}}</p>-->


<!--<app-form></app-form>-->
<!--<app-reactiveform></app-reactiveform>-->
<!--<button routerLink="/form" >Change page</button>
<a routerLink="/form">Link to another page</a><br>
<a href="/form">Using href</a>

<button routerLink="/array" >arraypage</button>

<router-outlet></router-outlet>
-->
<!--<app-query-caller></app-query-caller>-->
<!--<app-array-component></app-array-component>--> 
<!--<button type="submit" routerLink="/moviebutton" routerLinkActive="router-link-active" >click for movies!</button>--> 
<router-outlet></router-outlet>



